

<nav class="navbar navbar-light" style="min-height: 10%">
    <form class="form-inline w-100">
      <button class="button rounded-left" type="button">Masters</button>
      <button class="button" type="button">Pre-Sales</button>
      <button class="button btn2" type="button">Sales</button>
      <button class="button btn1" type="button">Event Managment</button>
      <button class="button" type="button">Reports</button>
      <button class="button btn1" type="button">Account Statement</button>
      <button class="button rounded-right" type="button">Export</button>
      <button  type="button" style="background-color: white">29 January</button>
      
    </form>
  </nav>
